{
  "rules": [
    {
      "name":"first rule as an example",
      "lucene_query": "attributes.agent:/.*-agent-.*/",
      "regex":[
        { "attribute":"agent", "expression":"(.*)-agent-(.*)$" },
        { "attribute":"hostname", "expression":"(.*)" }
      ],
      "attributes": {
        "applicationServer": "jvm-{0}",
        "applicationPlatform": "platform-{1}",
        "customHost": "{2}"
      }
    },
    {
      "name":"second rule as an example",
      "lucene_query":"(attributes.agentDomain:SuperDomain/testDomain AND attributes.agent:/.*test.*/)",
      "attributes": {
        "exampleAttribute": "exampleValue"
      }
    }
  ]
}